<!DOCTYPE html>
<html>

<head>
  
  <title>Hello Bulma!</title>
</head>

<body>
    <h1 style="text-align: center; color: red;"> Your Name is <%= data.pname%></h1>
    <h2 style="text-align: center; color: yellowgreen;"> Your College is <%= data.pcollege%></h1>
    <h3 style="text-align: center; color: palevioletred;"> Your Branch is <%= data.pbranch%></h1>
</body>

</html>
