<!DOCTYPE html>
<html>
    <head>
        <title>
                <%= name %>
        </title>
    </head>
    <body>
        <h1> My name is <%= name %> by <%= anotherName %> </h1>
    </body>
</html>
